<div class="container app">
  <div class="row app-one">
    <div class="col-sm-4 side">
      <div class="side-one">

        <div class="row sideBar">

          <div class="row sideBar-body">
            <div class="col-sm-3 col-xs-3 sideBar-avatar">
              <div class="avatar-icon">
                <!-- <img src="https://bootdey.com/img/Content/avatar/avatar2.png"> -->
              </div>
            </div>
            <div class="col-sm-9 col-xs-9 sideBar-main">
              <div class="row">
                <div class="col-sm-8 col-xs-8 sideBar-name">
                  <div class="name-list" *ngFor="let usuario of usuarioList">
                    <span class="name-meta">
                      <img class="user-online" src="../../assets/icons/online-user.png"/>
                      {{usuario.usuario}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="side-two">
      </div>
    </div>

    <div class="col-sm-8 conversation">
      <div class="row heading">
        <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
        </div>
        <div class="col-sm-8 col-xs-7 heading-name">
          <span *ngIf="data" class="heading-name-meta">{{data.sala.nome}}</span>
        </div>
      </div>

      <div class="row message" id="conversation">

        <div class="message-text">
          <div class="mensagem" *ngFor="let m of listMensagem">
            <span class="mensagem-usuario">{{m.usuario}}:</span>
            <div [innerHTML]="m.mensagem"></div>
          </div>
        </div>

      </div>

      <div class="row reply" (keyup.enter)="enviar()">
        <div class="col-sm-11 col-xs-9">
          <p-editor [(ngModel)]="textoMensagem">

            <p-header>

              <div class="quill-wrapper">

                <div id="toolbar-toolbar" class="toolbar ql-toolbar ql-snow">

                  <span class="ql-formats">
                    <button class="ql-bold" type="button"></button>
                    <button class="ql-italic" type="button"></button>
                    <button class="ql-underline" type="button"></button>
                    <button class="ql-strike" type="button"></button>
                  </span>

                  <span class="ql-formats">
                    <button class="ql-list" value="ordered" type="button"></button>
                    <button class="ql-list" value="bullet" type="button"></button>
                  </span>

                  <span class="ql-formats">
                    <button class="ql-link" type="button"></button>
                    <button class="ql-image" type="button"></button>
                  </span>

                  <span class="ql-formats">
                    <div class="col-sm-1 col-xs-1 reply-send" >
                      <i class="fa fa-send fa-2x" aria-hidden="true" (click)="enviar()" ></i>
                    </div>
                  </span>

                </div>

              </div>

            </p-header>
            <textarea class="form-control" rows="1" id="comment" [(ngModel)]="textoMensagem" ></textarea>

          </p-editor>
        </div>
      </div>
    </div>
  </div>
</div>
